@charset "UTF-8";



h1{
	font-size:30px;
	margin:20px;
	
}


.film:hover{
	
	opacity: 60%;
}

img{
	width: 100px;
	height: 150px;
	float: left;
	margin-right: 20px;
}



.tabDetailFilm{
	border:1;
	}